Package: photofiler
Version: 2.3
Packager: freisatz
Email: 
Homepage: http://www.wd.com
Description: A simple tool to file photos into a folder structure based on exif data.
Icon: photofiler.png
AddonShowName: Photo Filer
AddonIndexPage: index.html
AddonUsedPort: 8000
InstDepend:
InstConflict: 
StartDepend: 
StartConflict:
CenterType: 1
UserControl:<<<<<<<<w
MinFWVer:
MaxFWVer:
