Package: photofiler
Version: 0.4
Packager: freisatz
Email: 
Homepage: http://www.wd.com
Description: A simple tool to file photos into a folder structure based on exif data.
Icon: photofiler.png
AddonShowName: Simple Photo Filer
AddonIndexPage: index.html
AddonUsedPort: 8000
InstDepend:
InstConflict: 
StartDepend: 
StartConflict:
CenterType: 1
UserControl:
MinFWVer:
MaxFWVer:
